@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"); * {
  margin: 0px;
  padding: 0px;
  font-family: Poppins, sans-serif;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: black;
  color: white;
  overflow: auto;
  padding-top: 90px;
  overflow-x: hidden;
}

#profile {
  overflow-x: hidden;
  min-height: calc(-70px + 100vh);
  display: flex;
}

.section__text {
  text-align: center;
  max-width: 860px;
  margin: auto;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
  font-size: 1.9rem;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  font-size: 6rem;
  text-align: center;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.8));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  filter: blur(0.4px);
  margin-top: 0px;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.icon {
  cursor: pointer;
  height: 2rem;
  margin-bottom: 100px;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease 0s;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  color: white;
  background-color: rgb(53, 53, 53);
  border: 2px solid white;
}

.btn-color-1 {
  color: white;
}

.btn:hover {
  background: white;
  color: black;
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: 0.1rem solid rgb(255, 255, 255);
}

.btn-container {
  gap: 1rem;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1500;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  cursor: pointer;
  color: white;
}

header .logo {
  font-size: 30px;
  text-transform: uppercase;
  color: white;
}

header nav ul {
  display: flex;
}

header nav ul li a {
  display: inline-block;
  color: white;
  padding: 5px 0px;
  margin: 0px 10px;
  border: 3px solid transparent;
  text-transform: uppercase;
  transition: all 0.2s ease 0s;
}

header nav ul li a:hover, header nav ul li a.active {
  border-bottom-color: white;
}

.hamburger {
  cursor: pointer;
  display: none;
}

.hamburger div {
  width: 30px;
  height: 3px;
  margin: 5px 0px;
  background: white;
}

@media only screen and (max-width: 700px) {
  body {
      overflow: auto;
      justify-content: center;
      margin-top: 70px;
  }

  #profile {
      position: static;
      transform: none;
      margin-top: 20px;
      margin-bottom: 20px;
  }

  .section__text {
      margin-top: 100px;
  }

  .title {
      font-size: 4rem;
  }

  .section__text__p2 {
      font-size: 1.5rem;
  }

  .icon {
      margin-bottom: 20px;
  }

  .btn-container {
      flex-direction: column;
      margin-top: 1rem;
  }

  .btn {
      width: calc(100% - 20px);
      margin: auto;
      max-width: 500px;
  }

  header {
      height: auto;
      padding: 10px;
  }

  header nav {
      position: absolute;
      width: 100%;
      left: -100%;
      top: 60px;
      background: black;
      padding: 190px 30px 30px;
      transition: all 0.15s ease 0s;
      height: 100vh;
      overflow-y: auto;
      font-size: 25px;
  }

  header #nav_check:checked ~ nav {
      left: 0px;
  }

  header nav ul {
      display: block;
      text-align: center;
  }

  header nav ul li {
      margin: 10px 0px;
  }

  header nav ul li a {
      margin: 5px 0px;
      display: block;
      color: white;
  }

  header nav ul li a:hover {
      color: black;
  }

  .hamburger {
      display: block;
  }

  header nav ul {
      display: block;
  }
}

#projects, #services, #about, #contact, #story {
  padding: 50px 20px;
  max-width: 1200px;
  width: 100%;
  margin: auto;
}


.section-title {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

.carousel {
  display: flex;
  overflow: hidden;
  position: relative;
}

.carousel-item {
  padding: 50px 20px;
  min-width: 100%;
  transition: transform 0.5s ease 0s;
  text-align: center;
  margin-bottom: 20px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.19);
  border-radius: 10px;
  height: auto;
}

.carousel-item {

  color: white;
  border: 1px solid rgba(255, 255, 255, 0.19);
  border-radius: 10px;
  height: auto; /* Allow height to adjust based on content */
}


.carousel-item.active {
  transform: translateX(0px);
}

.carousel-item:not(.active) {
  display: none;
}

.carousel-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.carousel-btn {
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  margin: 0px 10px;
}

.services-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.service-item {
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  color: white;
  width: 30%;
  min-width: 250px;
  height: 200px;
}

.service-item i {
  font-size: 2rem;
  margin-bottom: 10px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid rgba(255, 255, 255, 0.24);
  padding: 40px;
  border-radius: 10px;
  max-width: 550px;
  margin: 0 auto; /* Centering the form */
}

.contact-form .form-group {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  font-weight: 600;
  margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
  padding: 15px;
  border: none;
  border-radius: 10px;
  background: #1b1c1c;
  color: white;
  max-height: 100px;
  box-sizing: content-box;
  padding-left: 20px;
  resize: none;
}

input#email {
}

.contact-form input::placeholder, .contact-form textarea::placeholder{
  color: rgba(255, 255, 255, 0.6);
}

.contact-form input:focus, .contact-form textarea:focus {
  border-color: white;
}

.contact-form button {
  font-weight: 600;
  font-size: 15px;
  transition: all 300ms ease 0s;
  padding: 1px;
  width: 80px;
  height: 40px;
  border-radius: 2rem;
  color: white;
  background-color: rgb(53, 53, 53);
  border: 2px solid white;
}

#globeCanvas {
  height: 500px;
  margin-top: -120px;
}

.container-globe {
  user-select: none;
  position: relative;
  z-index: 10;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-lights {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 600px;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.carousel-item ul {
  text-align: left;
  max-width: 540px;
  margin: 15px auto auto;
  border-top: 1px dashed rgba(255, 255, 255, 0.22);
  padding-top: 10px;
}

.carousel-item ul {
  text-align: left;
  max-width: 540px;
  margin: 15px auto auto;
  border-top: 1px dashed rgba(255, 255, 255, 0.22);
  padding-top: 10px;
}

.carousel-item h3 {
  position: relative;
  top: -20px;
  filter: drop-shadow(black 2px 4px 6px);
}

.profile-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid rgba(255, 255, 255, 0.24);
  padding: 20px;
  border-radius: 10px;
  margin: 30px
}

.profile-glass-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
}

.profile-header {
  text-align: center;
  margin-bottom: 20px;
}

.profile-greeting {
  font-size: 2em;
  margin-bottom: 10px;
  color: white;
}

.profile-name {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: white;
}

.profile-content {
  margin-top: 20px;
}

.profile-section-title {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: white;
}

.profile-text {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 10px;
  color: rgb(221, 221, 221);
}

.profile-intro {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 20px;
  color: white;
}




::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

body {
  scroll-snap-type: y mandatory;
}

#home,
#about,
#projects,
#services,
#contact {
  scroll-snap-align: start;
}


.footer-bottom{
  background: #0F0F0F;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

@media only screen and (max-width: 700px) {
  .title {
    transform: none !important; /* Disable cursor tracking */
  }
}

@media only screen and (max-width: 700px) {
  .carousel-item {
    margin-bottom: 20px;
  }
}


@media only screen and (max-width: 700px) {
  /* Reduce padding between sections for smaller screens */
  #projects, #services, #about, #contact, #story {
    padding: 30px 20px; /* Adjust the padding as needed */
  }
}
